<div class="container-fluid">
  <div class="row">
    <div class="wrapper col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 mx-auto">
      <div class="sign_up_form col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-6 mx-auto">
        <h2 class = "text-center">確認メール再送信</h2>

          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group">
              <%= f.label :email ,"メールアドレス"%><br />
              <%= f.email_field :email,class:"text-center form-control",placeholder: "メールアドレス", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
            </div>

            
              <%= f.submit "確認メール再送信", :class=>"btn btn-outline-primary"  %>
           
          <% end %>
　　　　　<div class = "shared">
            <%= render "devise/shared/links" %>
          </div>
    </div>
    </div>
  </div>
</div>    

