
 <div class="jumbotron">
    <div class="row">
        <div class="col-xs-12 container-form">
            <h1>LiveStreetで路上ライブを楽しもう。</h1>
            <p>おもしろそうなパフォーマンスを見に行こう。</p>
            <p>エリア、ジャンルなどを入力</p>
                <%= form_tag( posts_url,:method => 'get', class:'form-group') do %>
                    <%= text_field_tag :search, '', class: 'form-control' %>
                    <%= submit_tag '検索', :name => nil, class:'btn btn-primary float-right mt-3 mb-2' %>
                <% end %>
            
        </div>
    </div>
 </div>

<div class="card-group">
     <% @posts.each do |post| %>
        <div class="card text-center col-xs-12 col-sm-6 col-md-4">
            <%=image_tag post.image.to_s ,  :class => "card-img-top"%>
            <p class="card-text"><%= post.user.username %> / <%= post.genre %> / <%= post.place%> </p>
            <p class="card-text"><%= post.event_at.strftime('%Y年%m月%d日 %H:%M:%S') %></p>
            <h4 class="card-title"><span>タイトル：<%= post.title %></h4>
            <%=link_to "詳細画面", post_path(post.id) ,class: 'btn btn-outline-secondary'%>
        </div>
     <% end %>
</div>
</div>