<div class ="container-fluid">
<div class="jumbotron">
    <div class="row">
        <div class="col-xs-12 container-form">
            <h1>LiveStreetで路上ライブを楽しもう。</h1>
            <p>おもしろそうなパフォーマンスを見に行こう。</p>
            <p>エリア、ジャンルなどを入力</p>
                <%= form_tag( posts_url,:method => 'get', class:'form-group') do %>
                    <%= text_field_tag :search, '', class: 'form-control' %>
                    <%= submit_tag '検索', :name => nil, class:'btn btn-primary float-right mt-3 mb-2' %>
                <% end %>
            
        </div>
    </div>
</div>

<div class="row">
    <% @posts.each do |post| %>
        <div class="container-news text-center col-xs-12 col-sm-6 col-md-4 ">
            <p><%=image_tag post.image.to_s %></p>
            <small><%=link_to post.user.username, post_path(post.id) %> / <%=link_to post.genre, post_path(post.id) %> / <%=link_to post.place, post_path(post.id) %> </smalls>
            <small><%=link_to post.event_at.strftime('%Y年%m月%d日 %H:%M:%S'), post_path(post.id) %></small>
            <p><span>タイトル： </span><%=link_to post.title, post_path(post.id) %></p>
        </div>
    <% end %>
</div>  
</div>