<div class="jumbotron">
    <div class="row">
        <div class="container-form col-xs-12 col-sm-6 col-md-6">
            <p>検索一覧</p>
        </div>

        <div class="container-catch-copy col-xs-6 col-md-4">
            <h1>路上ライブ</h1>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a>
        </div>
    </div>
</div>

<div class="row">
    <% @posts.each do |post| %>
        <div class="container-news col-xs-12 col-sm-6 col-md-4 ">
            <p><span><%=link_to post.user.username, post_path(post.id) %>: </span><%=link_to post.title, post_path(post.id) %></p>
            <p><span>イベント日時: </span><%=link_to post.event_date.strftime('%Y年%m月%d日 %H:%M:%S'), post_path(post.id) %></p>
            <p><span>場所: </span><%=link_to post.place, post_path(post.id) %></p>
            <p><span>ジャンル: </span><%=link_to post.genre, post_path(post.id) %></p>
            <p><span>内容: </span><%=link_to post.contents, post_path(post.id) %></p>
            <p><span>サムネイル: </span><%=image_tag post.image.to_s %></p>
            
            <%#= render 'posts/tag_list', tag_list: post.skill_list %>
        </div>
    <% end %>
</div>  
