
<%= form_for @post do |f| %>
  <p>
    <%= f.label :title,"タイトル" %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :event_date,"イベント日時" %>
    <%= f.datetime_select :event_date, use_month_numbers: true%>
  </p>


  <p>
    <%= f.label :contents,"内容" %>
    <%= f.text_area :contents %>
  </p>


  <%= f.submit %>
<% end %>
<%
=begin%>
 
   t.float :user_id
      t.string :title
      t.string :event_date
      t.time :start_time
      t.time :end_time
      t.text :contents 
<%
=end%>
