<%
=begin%>
 
<nav class="  fixed-top navbar-expand-sm navbar-dark bg-dark">

      <%= link_to "LiveStreet", root_path , id: "logo" %>
     
  <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  
    
     <% if user_signed_in? %>
     <div class="collapse navbar-collapse justify-content-end " id="navbarNav4">
            <ul class="navbar-nav">
                 <strong><%= link_to current_user.username, users_show_path %></strong>
                 <li class="nav-item active"><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
                 <li class="nav-item active"><%= link_to "Help",   '#' %></li>
                 <li class="nav-item active"> <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                 <li class="nav-item active">  <%= link_to "新規投稿", new_post_path %></li>
                  
            </ul>
     </div>
          <% else %>
          <div class="collapse navbar-collapse justify-content-end " id="navbarNav4">
            <ul class="navbar-nav">
                 <li class="nav-item active"><%= link_to "新規登録",  new_user_registration_path %></li>
                 <li class="nav-item active"><%= link_to "Help",   '#' %></li>
                 <li class="nav-item active"><%= link_to "ログイン", new_user_session_path%></li>
            </ul>
            </div>
          <% end %>
    
  </div>
</nav> 
<%
=end%>


<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
   <%= link_to "LiveStreet", root_path , id: "logo" %>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="レスポンシブ・ナビゲーションバー">
    <span class="navbar-toggler-icon"></span>
  </button>
   <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="Navber">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                 <strong><%= link_to current_user.username, users_show_path %></strong>
                 <li class="nav-item active"><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
                 <li class="nav-item active"><%= link_to "Help",   '#' %></li>
                 <li class="nav-item active"> <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                 <li class="nav-item active">  <%= link_to "新規投稿", new_post_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <% else %>
      <div class="collapse navbar-collapse" id="Navber">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active"><%= link_to "新規登録",  new_user_registration_path %></li>
                 <li class="nav-item active"><%= link_to "Help",   '#' %></li>
                 <li class="nav-item active"><%= link_to "ログイン", new_user_session_path%></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <% end %>

</nav>